<!-- TITLE -->

<div class="mb-40 mt-40">
  <h1>Posts</h1>
</div>

<!-- SEARCH FORM -->
<div>
  <!-- START LINKS -->
    <div>
        <a routerLink="/categoriess" routerLinkActive="active">Link to List Categories</a>
    </div>
    <div>
        <a routerLink="/links" routerLinkActive="active">Link to List Link</a>
    </div>
    <div>
        <a routerLink="/menus" routerLinkActive="active">Link to List Menu</a>
    </div>
    <div>
        <a routerLink="/postss" routerLinkActive="active">Link to List Posts</a>
    </div>
 <!-- END LINKS -->
</div>